.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore all contents of the "data_preparation" folder
resources/zenodo/
resources/data_preparation
resources/data_preparation_old
_main_files/
docs/_main_files/
figures/
.RDataTmp*
other/
_bookdown_files/
figures/